<!DOCTYPE html>
<html>
<head>
	<title>Postage Calculator</title>
</head>
<body>
	<form action="/results">
		<fieldset>
			<input type="text" placeholder="Enter Weight" name="weight">
			<select name="choice">
				<option value="stamp">Letters (stamped)</option>
				<option value="meter">Letters (metered)</option>
				<option value="envelope">Large Envelopes (flats)</option>
				<option value="parcel">Parcels</option>
			</select>
			<button type="submit">Submit</button>
		</fieldset>
	</form>
</body>
</html>